/* * {
    border: 2px solid red;
} */



.mainpage {
    background-image: url(https://i.redd.it/6t7wydvgsl091.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: orangered;
    background-color: lightgray;
    
}

.mainheader {
    font-size: 7rem;
    color: orangered;
    text-align: center;
    font-weight: 1000;
    text-shadow: 2px 2px black;
}

a {
    text-decoration: none;
    color: orangered;
    font-size: 3rem;
    text-align: center;
    display: block;
    padding: 15px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    text-shadow: 2px 2px black;
    
}

.container {
    display: flex;
    padding: 1rem;
    margin: 1rem;
}

.ingredients {
    border: 1px solid lightslategray;
    padding: 1rem;
}

.method {
    border: 1px solid lightslategray;
    padding: 1rem;
}